*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background: url(img/resturant.jpg.jpg);
    text-decoration: none;
}
.nav ul{
    display: flex;
    justify-content: end;
    gap: 1rem;
    justify-items: end;
    list-style-type: none;
    padding-right: 210px;
    margin-right: 1px;
    margin-top: 2rem;
    
    

}
.nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 700;
   /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}
.nav ul li a:hover{
    color: #f7b307;
}
p{
    color: white;
}
img{
    width: 20px;
    background:black;
}
.middle{
    color: yellow;
    display: flex;
    justify-content: center;
    font-style: italic;
    margin-top: 300px;
    font-size: 25px;
    
}
.middle1{
    color: white;
    display: flex;
    flex: center;
    justify-content: center;
    font-weight: 700;
    font-size: 3rem;
}
.middle2{
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 3rem;
}   
.middle3{
    color: white;
    display: flex;
    justify-content: center;
}
button{
    margin-left: 693px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: #f0c14b;
    border: 1px solid #110f0fce;
    border-top-color: #afacae;
    width: 150px;
    height: 35px;
    font-weight: 700;
    margin-top: 20px;
    border-radius: 6px;
    background-image: linear-gradient(#fab404,#f7b307);

}
button:hover{
    color:#110f0fce;
}